body {
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

.avatar {
    width: 150px;
    border: 2px solid #e2da21;
    border-radius: 10px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #0c6c40;
    color: #001632;
    border-bottom: 6px solid #89051b;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 30px;
}



.info{
    width: 200px;
    padding: 15px;
    background: #9fcf30;
    border-radius: 20px;
}